/* 
contenido:FFE828
encabezado:E8B825
equivalente:FFA60C
piepagina:E87B42
auxiliar:FF6640
*/


/*----------------ETIQUETAS----------------*/
*{
    margin: 0;
}
body{
    width: 70%;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    letter-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;/*el times new roman esta entre '' por tener espacios*/
    color: white !important;
}
h1{
    font-size: 2.5em; /*si te equivocas y pones espacios no te toma este tamaño*/
    line-height: 2em;
    color: white;
}
h2{
    font-size: 200%; /*este % es respecto al tamaño base de la fuente que es 16, asique seria de 32 para 200%*/
}
a{
    text-decoration: none; /*le quita el subrayado*/
}
a:link{/*a:link son los anclas aun no visitados*/
    color: #fff;
}
a:visited{
    color: red;
}
a:hover{/*cuando esta el cursor encima*/
    color: blue;
    text-decoration: underline;
}
a:active{/*cuando das click osea esta activo, podes mantener el click para verlo tmb*/
    color: white;
    background-color: orange;
}
/*----------------IDENTIFICADORES----------------*/
#contenido{
    background-color: #FFE828;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;       
}
#encabezado{
    background-color: #E8B825;
    border: 1px solid green;  
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#equivalentes{
    background-color: #FFA60C;
    border: 1px solid #cccccc;
    font-family: 'Courier New', Courier, monospace;
}
#piepagina{
    background-color: #E87B42;
    border: 1px solid #cccccc;       
}


/*----------------CLASES----------------*/
.resaltar{
    background-color: green;
    color: white;
    text-decoration: underline;
    font-style: italic;
}

/*----------------REGLAS ANIDADAS----------------*/
#equivalentes a{
    color: yellow;
    text-decoration: underline;
}

ol li{
    list-style: decimal;
}
ol ol li{
    list-style: lower-alpha;
}