/* 
contenido:FFE828
encabezado:E8B825
equivalente:FFA60C
piepagina:E87B42
auxiliar:FF6640
*/


/*----------------ETIQUETAS----------------*/
body{
    width: 70%;
}
h1{
    font-size: 250%;
    text-align: center;
    letter-spacing: 5px;
    line-height: 2em;
    color: white;
}
h2{
    font-size: 200%;
    text-align: left;
}
a{
    text-decoration: none; /*le quita el subrayado*/
}
a:link{/*a:link son los anclas aun no visitados*/
    color: #fff;
}
a:visited{
    color: red;
}
a:hover{/*cuando esta el cursor encima*/
    color: blue;
    text-decoration: underline;
}
a:active{/*cuando das click osea esta activo, podes mantener el click para verlo tmb*/
    color: white;
    background-color: orange;
}
/*----------------IDENTIFICADORES----------------*/
#contenido{
    background-color: #FFE828;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;       
}
#encabezado{
    background-color: #E8B825;
    border: 1px solid green;  
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#equivalentes{
    background-color: #FFA60C;
    border: 1px solid #cccccc;
    font-family: 'Courier New', Courier, monospace;
}
#piepagina{
    background-color: #E87B42;
    border: 1px solid #cccccc;       
}


/*----------------CLASES----------------*/
.resaltar{
    background-color: green;
    color: white;
    text-decoration: underline;
    font-style: italic;
}